*{ margin: 0; padding: 0; box-sizing: border-box;}

.hconteiner{ /*Esse é a DIV principal*/
    width:100vh;
    height:100vw; 
    display: flex;
    justify-content: center;
    margin-left: 450px;
    border:100px solid black;
      

}
.tituloH1{
    text-align: left;
    margin-top: 50px;
}
.divH2{
    text-align:right;
    margin-top: 50px;
}
.spaHome{
    border:5px solid rgba(0, 0, 0, 0.964);
    border-radius: 25px;
    box-shadow: 15px 13px;
    padding: 15px 15px 15px 15px;
    font-size: 30px;
    background:var(--textColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}













